body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.limiter { 
    padding: 5% 5% 5% 5%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.wrap-login100 {

    font-family: Palatino,serif;
    min-height:55%; 
    height:auto;
    min-width:80%;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

}

.wrapasdf {
    font-family: Palatino,serif;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 5% 5% 5% 5%;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}    h2,
h3,
p {
    orphans: 3;
    widows: 3
}
h2,
h3 {
    page-break-after: avoid
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2
}
.h2,
h2 {
    font-size: 2rem
}
.h3,
h3 {
    font-size: 1.75rem
}
.h4,
h4 {
    font-size: 1.5rem
}.h6,
h6 {
    font-size: 1rem
}